*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

/* --- DEBUG --- */

.bordo{
   border: dashed 2px black;
}

.div-grande, .logo, .bottone{
   background-color: #F08080;
}

.div-piccolo{
   background-color: #20B2AA;
   border-color: white;
}

.barra-footer{
   background-color: #7FFFD4;
}

/* ----- SELETTORI RIUTILIZZABILI ----- */

header{
   background-color: #255EE9;
}

.layout-width{
   max-width: 1170px;
   margin: 0 auto;
}

.flex-centrato{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0;
}

.font-white{
   color: white;
}

.button{
   border-radius: 20px;
   padding: 10px;
   display: inline-block;
}

.background-white{
   background-color: white;
}

h1{
   margin: 10px 0;
   font-size: 40px;
}

.paragrafo-sezione{
   width: 34%;
}

.background-grey{
   background-color: #F6F6F6;
}

.background-lilla{
   background-color: #7289DA;
   color: white;
}

/* ----- SELETTORI SPECIFICI ----- */
p {
   line-height: 30px;
}

.small div:last-child{
   text-align: right;
}

.small{
   justify-content: space-between;
   padding: 20px 0;
}

#lista{
  padding: 10px;
  list-style:none;
}

li{
   padding: 0 15px;
}

a{
  text-decoration: none;
}

.big{
   background-image: url(../img/jumbo.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 110px 0;
}

.jumbo{
   width: 40%;
   margin: auto;
}

.jumbo > div,.jumbo > p,.jumbo > h1{
   text-align: center;
   padding: 10px;
}

.background-black{
   background-color: #23272A;
   color: white;
}

.sezione-grande{
   text-align: center;
   padding: 100px 0;
}

h2 {
   margin: 70px 0;
 }

.sfondo-stelline{
   background-image: url(../img/stars.svg);
   background-repeat: no-repeat;
 }





.div-grande{
   height: 500px;
   width: 35%;
}

.div-piccolo{
   height: 500px;
   width: 25%;
}

.top div{
   padding-top: 10px;
}

.bottom div{
   padding-bottom: 0;
}

.barra-footer{
   height: 100px;
   width: 100%;
   justify-content: space-between;
   padding: 0;
}


