*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: inherit;
}

/* --- DEBUG --- */

.bordo{
   border: dashed 2px black;
}

.big{
   background-color: blue;
}

.big div{
   background-color: violet;
   height: 500px;
   width: 40%;
}

/* section img, p{
   height: 500px;
}

section img{
   background-color: #1E90FF;
   width: 60%;
}

section p{
   background-color: pink;
   width: 40%;
} */

.verde{
   background-color: #228B22;
}

.div-grande, .logo, .bottone{
   background-color: #F08080;
}

.div-piccolo{
   background-color: #20B2AA;
   border-color: white;
}

.barra-footer{
   background-color: #7FFFD4;
}

/* ----- SELETTORI RIUTILIZZABILI ----- */

header{
   background-color: #255EE9;
}

.layout-width{
   max-width: 1170px;
   margin: 0 auto;
}

.flex-centrato{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0;
}

.font-white{
   color: white;
}

.button{
   border-radius: 20px;
   padding: 10px;
}

/* ----- SELETTORI SPECIFICI ----- */

.small div:last-child{
   text-align: right;
}

.small{
   justify-content: space-between;
}

#lista{
  padding: 10px;
  list-style:none;
}

li{
   padding: 0 15px;
}

a{
  text-decoration: none;
}

.small .button{
   background-color: white;
}





.right-grey{
   background-color: #D3D3D3;
}

.verde{
   height: 750px;
   width: 100%;
}

.black{
   background-color: #23272A;
}

.div-grande{
   height: 500px;
   width: 35%;
}

.div-piccolo{
   height: 500px;
   width: 25%;
}

.top div{
   padding-top: 10px;
}

.bottom div{
   padding-bottom: 0;
}

.barra-footer{
   height: 100px;
   width: 100%;
   justify-content: space-between;
   padding: 0;
}


